@font-face {
    font-family: "Andika";
    src: url("../font/AndBasR.ttf");
}

body{
    font-family: Andika;
}

h1, h2{
  color: #ffa527;
}

#message{
  text-align: center;
  background-color: #76ad3a;
  border-radius: 2px;
  color: white;
  margin: 15px auto;
  font-size: 18px;
  width: 50%;
}

.navbar-nav>li>a{
  color:white;
  text-align: center;
  font-size: 16px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: inherit;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: inherit;
    border: none;
}

.navbar-toggle{
  background-color: #3a405a;
  margin-right: 30px;
}

.navbar-toggle .icon-bar{
  background-color: #6f7aa9;
}





/*** HEADER ***/

.bleu {
  background-color: #3a405a;
  height: 80px;
}

.bleuclair {
  background-color: #6f7aa9;
  min-height: 50px;
}

ul.menu-principal {
  list-style: none;
  text-align: center;
}

ul.menu-principal > li {
  display: inline;
  font-size: 1.6em;
}

ul.menu-principal > li a {
  color: white;
  vertical-align: middle;
}

ul.menu-principal > li a:hover {
  text-decoration: none;
}

img.icone-menu {
  margin: 5px auto auto 30px;
  display: none;
}

img.logo {
  margin: 0px auto;
  position: relative;
  z-index: 2;
}

.user-present {
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgb(230,230,230);
  padding: 5px;
  border-radius: 5px;
  min-width: 150px;
}






/*** index.html.twig ***/

.titre-page {
  color: #ffa524;
  text-align: center;
}

.bouton-ajout-enfant {
  font-size: 1.3em;
  margin-top: 20px;
  min-width: 180px;
}

.bouton-ajout-enfant a, .bouton-ajout-enfant a:hover {
    color: white;
    text-decoration: none;
}

.un-enfant{
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

.photo-profil-enfant {
  width: 80px;
  height: 80px;
  margin: 0px auto 5px;
  border-radius: 100px;
}

.fc-event-container{
  cursor: pointer;
}

/* modal */
.imageEtape img{
  max-width: 100px;
  margin: 0px auto;
}

.nomEtape{
  text-align: center;
  font-size: 18px;
}






/*** creerSequence.html.twig ***/

.second-titre-page {
 color: #3a405a;
}

.troisieme-titre-page {
  color: #3a405a;
  text-align: center;
}

.form-ajout-seq {
  font-size: 1.2em;
  text-align: center;
}

.form-ajout-seq-input {
  margin-bottom: 10px;
}

#dropzone {
  min-height: 200px;
  background-color: rgb(230,230,230);
  border-radius: 5px;
  padding: 20px;
}

#dropzone img{
	width: 80px;
  height: 80px;
  background-color: #e0e3f4;
  box-shadow: 5px 5px 15px 5px #656565;
  transition:0.4s;
  padding: 10px;
}

.case-etape {
  height: 230px;
  margin-bottom: 20px;
}

.etape {
  cursor: pointer;
  background-color: inherit;
  box-shadow: none;
  transition:0.4s;
  padding: 20px;
}

.etape p {
  font-size: 1.2em;
  text-align: center;
  height: 50px;
}

.photo-etape {
  width: 100px;
  height: 100px;
  margin: 0px auto 5px;
}

.selected{
  background-color: #e0e3f4;
  box-shadow: 5px 5px 15px 5px #656565;
  transition:0.4s;
}

.in-list {
  margin: 10px;
}

.indicateurPosition{
  background-color: #e0e3f4;
  border-radius: 50px;
  border: 4px solid #6f7aa9;
  color: #ffa524;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  width: 45px;
  height: 45px;
  position: absolute;
  right: -10px;
  z-index: 999;
  opacity: 0;
}

.indicateurPosition.shown{
  opacity: 1;
  transition:0.2s;
}






/*** ajoutEnfant.html.twig + modifEnfant.html.twig + creerContrat.html.twig ***/

.fond-form {
  border-radius: 5px;
  background-color: #e0e3f4;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}

.form-input {
  margin-bottom: 10px;
  min-width: 170px;
}

.form-bouton {
  margin-top: 10px;
  font-size: 1.2em;
}

div#ui-datepicker-div {
    z-index: 12 !important;
}

.form-ajout-enfant {
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
}

.form-ajout-enfant-input {
  margin-top: 10px;
  min-width: 200px;
}

.form-ajout-enfant-bouton {
  margin-top: 10px;
  font-size: 1.2em;
}





/*** ficheEnfant.html.twig ***/

.fiche-enfant {
  border-radius: 5px;
  background-color: #e0e3f4;
  margin-top: 10px;
}

.fiche-enfant-groupe {
  margin: 20px auto;
  font-size: 1.4em;
}

.fiche-enfant-input {
  margin-bottom: 20px;
}

.fiche-enfant-input-vide {
  font-style: italic;
}

.fiche-enfant-label {
  font-weight: bold;
  margin-bottom: 20px;
}

.fiche-enfant-bouton a, .fiche-enfant-bouton a:hover, .bouton-ajout-contrat a, .bouton-ajout-contrat a:hover, .bouton-inviter a, .bouton-inviter a:hover {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.fiche-enfant-bouton {
  margin-bottom: 20px;
}

.bouton-ajout-contrat {
  margin-top: 20px;
  background-color: #3a405a;
}

.bouton-inviter {
  margin-top: 20px;
  background-color: #6f7aa9;
}


.page-fiche-enfant .container.contratEnCours,
.page-fiche-enfant .container.planningEnCours {
    border-radius: 5px;
    background-color: #e0e3f4;
    margin-top: 10px;
}

.page-fiche-enfant .container.contratEnCours h3,
.page-fiche-enfant .container.planningEnCours h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}






/*** RESPONSIVE ***/

@media screen and (max-width: 768px) {
    .conteneur-menu {
      display: none;
    }
    img.icone-menu {
      display: block;
    }
    ul.menu-principal {
      text-align: left;
      min-width: 200px;
      max-width: 200px;
      background-color: #6f7aa9;
      border-radius: 5px;
      position: absolute;
      z-index: 1;
    }
    ul.menu-principal > li {
      font-size: 1.2em;
      padding: 5px;
    }

    .ajout-enfant{
      margin-left: 10px;
    }

    #etape img {
      width: 70px;
      height: 70px;
    }
}

@media screen and (min-width: 768px) {
    ul.menu-principal > li {
      font-size: 1.4em;
    }
}

@media screen and (max-width: 900px) {
    .titre-page, .second-titre-page, .troisieme-titre-page {
      font-size: 2em;
    }
}

@media screen and (min-width: 1200px) {
  ul.menu-principal > li {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1200px){
	.etape p{
    	font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
  .navbar-nav{
    background-color: #6f7aa9;
    z-index: 999;
  }
  .navbar-nav>li>a{
    color:white;

    background-color: #6f7aa9;
  }
  .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color:#3a405a;
    background-color: white;
  }
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #6f7aa9;
    border: none;
  }
}
