{% for enfant in enfants %}
	<li>
	    <a href="{{ path('educateur_fiche_enfant', {'username': enfant.username, 'name': enfant.name}) }}">
	        {{ enfant.username }}
	    </a>
	</li>
{% endfor %}
<hr>
<li>
	<a href="{{ path('educateur_enfant_ajout') }}"><span class="glyphicon glyphicon-plus"></span>  Ajouter un enfant</a>
</li>